<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand" href="http://localhost:3000/upravnik/1" style="margin: 0px;">INFO ZGRADA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/upravnik/1">Početna </a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;">  |  </span>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/racuni">Računi</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/stanari">Stanari</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/upravnik_obavestenja">Obaveštenja</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-center">

            <a href="http://localhost:3000" class="btn btn-info btn-lg" style="width: 136.672px; ">
                <span class="glyphicon glyphicon-log-out"></span> Odjavi se
            </a>

        </form>

    </div>
</nav>

<div class="container">
    <div class="row justify-content-center my-5">
        <h5>OBAVESTENJA</h5>
    </div>
    <div class="row justify-content-center my-5">

        <form action="/upravnik_obavestenja" method="post" style="width: 400px;">


                <div class="form-group">
                    <label for="email">Vasa email adresa: </label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>

                <!--password-->

                <div class="form-group">
                    <label for="password">Vasa lozinka: </label>
                    <input type="password" class="form-control" name="pass" id="password" required>
                </div>
                <div class="form-group">
                    <label for="email">Email adresa kome saljete poruku: </label>
                    <input type="email" class="form-control" name="to" id="email" required>
                </div>
                <div class="form-group">
                    <label for="text">Naslov: </label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="text">Tekst poruke: </label>
                    <textarea name="text" cols="40" rows="5" class="form-control" required></textarea>
                </div>
                <!--button-->
                <center><input type="submit" name="dugme" class="dugme" value="Pošalji" style="margin-top:20px!important; background-color: #5bc0de"></center>
        </form>
    </div>

</div>


<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>