<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand" href="http://localhost:3000/upravnik/1" style="margin: 0px;">INFO ZGRADA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/upravnik/1">Početna </a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;">  |  </span>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/racuni">Računi</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/stanari">Stanari</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upravnik_obavestenja">Obaveštenja</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-center">

            <a href="http://localhost:3000" class="btn btn-info btn-lg" style="width: 136.672px;background-color:#5cb85c; border-color:#5cb85c">
                <span class="glyphicon glyphicon-log-out"></span> Odjavi se
            </a>

        </form>

    </div>
</nav>

<div class="container" >
    <div class="col-xs-12 col-sm-6 my-5" style="margin: auto;">

        <table class="table d-inline table-responsive-sm" style="font-size: 19px; vertical-align: middle">
            <% data.forEach(function(x) { %>
            <tbody>
            <form action="/racun_zgrada/izmeni/<%=x.id%>" method="post">

                <tr>
                    <th>Vrednost u din: </th>
                    <td><input type="text" name="vrednost_din" id="edit" value="<%=x.vrednost_din%>"/></td>
                </tr>
                <tr>
                    <th>Datum: </th>
                    <td><input type="text" name="datum" id="edit" value="<%=x.datum%>"/></td>
                </tr>



                <tr >
                    <th scope="col">Akcije: </th>
                    <td>
                        <button type="submit" class="btn btn-success">Potvrdi</button>
                    </td>
                </tr>
                <tr>
                    <th> </th>
                    <td></td>
                </tr>
            </form>
            </tbody>
            <% }) %>
        </table>
    </div>
</div>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>